* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  background-size: cover;
  background-position: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.searchInput {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-size: 1em;
  transition: border-color 0.3s;
}

.searchInput::placeholder {
  color: white;
  opacity: 0.8;
}

.searchInput:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.searchSelect {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><polygon points="0,0 20,0 10,10" fill="whitesmoke"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5em top 50%;
  background-size: 0.65em auto;
}

.searchSelect option {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff5722;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #e64a19;
}

.weatherInfo {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
  margin-top: 20px;
}

.weatherTitle {
  margin: 0;
  font-size: 2em;
}

.weatherDescription {
  margin: 5px 0;
  font-size: 1.2em;
}
